
<li><a href="/rock">Play Rock</a></li>
<li><a href="/paper">Play Paper</a></li>
<li><a href="/scissors">Play Scissors</a></li>


<h1> We played Rock </h1>
<h1> They played <%= @random_move %>!</h1>
<h1> <%= @result %> <h1>

<%=
result = if @random_move == "Rock"
           "We Tied!"
         elsif @random_move == "Paper"
           "We Lost!"
         else
           "We Won!"
         end
%>

<li><a href="/">Rules</a></li>"