
<a href="/rock">Play Rock</a>
<a href="/paper">Play Paper</a>
<a href="/scissors">Play Scissors</a>


<h1> We played Scissors </h1>
<h1> They played <%= @random_move %>!</h1>
<h1> <%= @result %> <h1>

<%=
result = if @random_move == "Rock"
           "We Lost!"
         elsif @random_move == "Paper"
           "We Won!"
         else
           "We Tied!"
         end
%>



  <li><a href="/">Rules</a></li>"
