
<li><a href="/rock">Play Rock</a></li>
<li><a href="/paper">Play Paper</a></li>
<li><a href="/scissors">Play Scissors</a></li>

<h1> We played paper </h1>
<h1> They played <%= @random_move %>!</h1>
<h1> <%= @result %> <h1>

 <%= result=if picked_word=="Rock"
  "We Won!"
  elsif picked_word=="Paper"
 "We Tied!"
  else "We Lost!"
  end %>

<li><a href="/">Rules</a></li>"
